<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %}{% endblock %}</title>
        <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
    </head>
    <body>
        {% if not hide_home_link -%}
            <a href="/">На главную</a>
        {% endif %}

        {% block content %}{% endblock %}

        {% for cat, msg in get_flashed_messages(True) %}
            <p class="flash {{ cat }}">{{ msg }}</p>
        {% endfor %}
        <script>
            function redirectTo(str) {
                document.location.href = str;
            }
            {% if redirect_timeout %}
                setTimeout(function() {redirectTo('{{ redirect_address }}')}, {{ redirect_timeout }})
            {% endif %}
        </script>
    </body>
</html>