{% extends 'base.html' %}

{% block title %}Сменить пароль{% endblock %}

{% block content -%}
    <h1>Смена пароля</h1>
    <form method="post" action="/change_password">
        <label for="old_password">Старый пароль: </label>
        <input type="password" id="old_password" name="old_password" required value="{{ old_password }}"><br/>

        <label for="password">Новый пароль: </label>
        <input type="password" id="password" name="password" required value="{{ password }}"><br/>

        <label for="password2">Новый пароль ещё раз: </label>
        <input type="password" id="password2" name="password2" required value="{{ password2 }}"><br/>

        <input type="submit" value="Сменить"/>
    </form>
{%- endblock %}