{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content -%}
    <h1>Восстановление пароля</h1>
    <form method="post" action="/password_recovery">
        <label for="login">Логин: </label>
        <input id="login" name="login" type="text" required/>
        <br/>

        <label for="keyword">Ключевое слово (которое вы указывали при регистрации): </label>
        <input id="keyword" name="keyword" type="text" required/>
        <br/>

        <input type="submit" value="Восстановить"/>
    </form>
    {% if password %}
        <p>Восстановлено успешно! Ваш пароль: "{{ password }}"</p>
        <p>Вход в аккаунт совершён успешно</p>
    {% endif %}
{%- endblock %}